<%- include ('./base/header.ejs') %>

<div class="container my-3">
  <div class="alert bg-warning">
    <h2 class="text-center">All Records</h2>
  </div>
</div>

<div class="container">
  <table class="table text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% for(stu of stuInfo) { %>
      <tr>
        <td><%= stu.name %></td>
        <td><%= stu.city %></td>
        <td><%= stu.email %></td>
        <td><%= stu.contact %></td>
        <td>
          <a href="/edit/<%= stu._id %>" class="btn btn-warning w-75">Edit</a>
        </td>
        <td>
          <form action="/delete/<%= stu._id %>" method="post">
            <input type="submit" value="Delete" class="btn btn-danger" />
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include ('./base/footer.ejs') %>
